<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Contact Us</h4>
          <p>Email: Hometopia&#64;gmail.com</p>
          <p>Phone: +216 28456369</p>
        </div>
        <div class="col-md-6">
          <h4>Follow Us</h4>
          <p>Connect with us on social media:</p>
          <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>