.hero {
    position: relative;
    text-align: center;
    color: #fff;
    height: 600px; 
    overflow: hidden;
    margin-bottom: 0; 
    padding-bottom: 0; 
}


.hero img {
    width: 100%;
    height: auto;
    z-index: 2;
}

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5); 
}
  .hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }
  
  .hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .featured-listings {
    text-align: center;
    margin-bottom: 100px;
  }
  
  .featured-listings h2 {
    margin-top: 15px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px; 
  }
  
  .featured-listings .row {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
  }
  
  .featured-listings .text-center a.btn-secondary {
    margin-top: 20px; 
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    margin: 0 10px;
    width: calc(120% - 115px); 
    height: 350px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    transform: translateY(-5px) scale(1.05); 
    box-shadow: 0 12px 24px #17314b;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card .card-body {
    padding: 10px;
  }
  
  .card .card-body h5 {
    margin-bottom: 10px;
  }
  
  .card .card-body h5 a {
    color: #000;
    text-decoration: none;
  }
  
  .card .card-body p a{
    color :#4a4a4a;
    text-decoration: none;
  }
  
  .text-center.mt-3 a.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #46688A;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .text-center.mt-3 a.btn-secondary:hover {
    background-color: #17314b;
  }
  
  .container .mb4 {
    margin-bottom: 100px; 
  }
 
